<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<div class="container-fluid">
{% extends "layout.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<!---SHOW All items-->
{% if items==[]%}
<p> There are currently no items in the catalog. </p>

{% else %}
<div class="product container-fluid">
	<table>
		<tr>
			<td>Name</td><td>Price</td><td></td><td></td><td>Picture</td>
		</tr>
	{% for item in items %}
	
		<tr>
			<td>{{item.name}}</td><td>{{item.price}}</td><td></td><td></td><td><img src={{item.photo}} height="300" ></td>
		</tr>
	
   	<a href={{url_for('product', product_id = item.id)}}>
      	<p>{{item.name}}</p>
      	<img src={{item.photo}} height="300" >
  	</a>
  	{% endfor %}
  	</table>
</div>

{% endif %}
{% endblock %}
</div>