<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<div class="container-fluid">
{% extends "layout.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<!---SHOW All items-->
{% if items==[]%}
<p> There are currently no items in the catalog. </p>

{% else %}
<div class="product container-fluid">
	{% for item in items %}
   	<a href={{url_for('product', product_id = item.id)}}>
      	<p>{{item.name}}</p>
      	<img src={{item.photo}} height="300" >
  	</a>
  	{% endfor %}
</div>

{% endif %}
{% endblock %}
</div>